html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	
}

body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: #3B240B;
	background-image:url('library.jpg');
	background-repeat:no-repeat;
	background-position: center;
}

div#librarys {  
	background-color: #F7BE81;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #d9d9d9;
}
div.librarys {  
	font-family: Verdana, Helvetica, sans-serif;
	color: #434343;
	padding: 10px;
}
div.librarys:nth-child(2n){
	background-color: #FAFAD2;
}

div#map {
	margin: 5px;
	/*width: 250px;*/
	height: 400px;
	border: 1px solid black;
}
